<h1>All Twitter users</h1>
<ul>
    <% users.forEach(user => { %>
    <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
        <button>Delete User</button>
      </form>
    <% }) %>

  </ul>