<h1>Create a New Album</h1>

 <!-- Go to albums route and do a POST -->
<form action="/albums" method="POST">
  <div class="form-group">
    <label for="albumName">Album name</label>
    <input type="text" class="form-control" id="albumName" name="albumName" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>